* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: hotpink;

}

.info {
	width: 70%;
	margin: auto;
	font-family: verdana;
}

.info h1,p{
	color: #fff;
	line-height: 1.7;
	text-align: center;
}



.maincontain {
	height: 100%;
	width: 100%;
}

.secondcontain {
	height: 500px;
	width: 900px;
	margin: auto;
	position: relative;
	top: 60px;

}

.mobile1 {
	height: 500px;
	width: 270px;
	float: left;
	animation-name: mobile;
	animation-duration: 2s;
	transform: rotate(-90deg) translate(-71px, 695px);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.mobile2 {
	height: 500px;
	width: 270px;
	float: left;
	animation-name: mobile;
	animation-duration: 2s;
	transform: rotate(-90deg) translate(10px, 565px);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.mobile3 {
	height: 500px;
	width: 270px;
	float: left;
	animation-name: mobile;
	animation-duration: 2s;
	transform: rotate(-90deg) translate(89px, 465px);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes mobile {
	from {}
	to {
		transform: translate(0%, 0%) rotate(0deg);
	}
}
